.cap
	.cap-inner
		.image
		p Пожалуйста откройте десктопную версию.
		a(href="" class="btn") 
			span Перейти
			i.icon.icon-arrow
				<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>