.form-modals(data-modals="modal")
	.cross-head.cross-modal
		.cross-container
			span.cross.cross-1
			span.cross.cross-2
	.form-modal-scroll#forms-scroll
		.form-modal-content
			.content-container
				.content-scrolls
					//- Область, куда будет вставляться внутрянка групп по ID 
					.modal-items#singin
						.form-head
							.form-title Sign in
						.form-body
							form.js-validation
								.field-row
									.field-item
										input(type="text" data-validation="required" data-validation-error-msg="You have entered an invalid name")
										label name*
								.field-row
									.field-item
										input(type="text" class="password" data-validation="required" data-validation-error-msg="You have entered an invalid password")
										label password*
										a(href="#" class="forgort-pass" data-modal="modal" data-option="forgot-pass") Forgot password?
								.field-row
									button.btn(type="submit")
										span Login
										i.icon.icon-arrow
											<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>
									a(href="#" class="register" data-modal="modal" data-option="register") 
										i.icon
										span Register Now
					.modal-items#register
						.form-head
							.form-title Registration form
							p Sign up on our website to get more information about our products.
						.form-body
							form.js-validation#registration
								.field-row
									.field-item
										input(type="text" data-validation="required" data-validation-error-msg="You have entered an invalid name")
										label name*
								.field-row
									.field-item
										input(type="text" data-validation="email" data-validation-error-msg="You have entered an invalid e-mail")
										label e-mail*
								.field-row
									.field-item
										input(type="text" data-validation="required" data-validation-error-msg="You have entered an invalid phone")
										label phone*
								.field-row
									button.btn(type="submit" data-option="confirm")
										span Sing in
										i.icon.icon-arrow
											<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>
									a(href="#" class="register" data-modal="modal" data-option="singin") 
										i.icon
										span Login
					.modal-items#confirm
						.form-head
							.form-title Confirmation of registration
							p On your registered phone number has been sent to the code. To complete registration, enter the code below:
						.form-body
							form.js-validation
								.field-row
									.field-item
										input(type="text" data-validation="required" data-validation-error-msg="You have entered an invalid code")
										label sms-code*
								.field-row
									button.btn(type="submit" data-modal="modal" data-option="confirm-success")
										span continue
										i.icon.icon-arrow
											<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>
					.modal-items#feedback
						.form-head
							.form-title Feedback form
							p We will answer all your questions. Thank you for contacting us!
						.form-body
							form.js-validation
								.field-row
									.field-item
										input(type="text" data-validation="required" data-validation-error-msg="You have entered an invalid name")
										label name*
								.field-row
									.field-item
										input(type="text" data-validation="email" data-validation-error-msg="You have entered an invalid e-mail")
										label e-mail*
								.field-row
									.field-item
										input(type="text" data-validation="required" data-validation-error-msg="You have entered an invalid phone")
										label phone*
								.field-row
									.field-item
										textarea(type="text" class="js-auto-size" rows="1" data-validation="length" data-validation-length="min4" data-validation-error-msg="You have entered an invalid message")
										label message*
								.field-row
									button.btn(type="submit" data-modal="modal" data-option="feedback-success")
										span Send
										i.icon.icon-arrow
											<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>
					.modal-items.modal-items_success#confirm-success
						.form-head
							.form-title Thank you!
							p You have successfully registered on our site!
						.form-body
							.cross-modal
								i
									<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g><path d="m17.93311,1.87167l-1.81252,-1.81252l-7.15402,7.15402l-7.15402,-7.15402l-1.81252,1.81252l7.15402,7.15402l-7.15402,7.15402l1.81252,1.81252l7.15402,-7.15402l7.15402,7.15402l1.81252,-1.81252l-7.15402,-7.15402l7.15402,-7.15402z"/></g></svg>
								span Close
					.modal-items.modal-items_success#feedback-success
						.form-head
							.form-title Thank you!
							p Your message has been successfully sent. You will be contacted shortly.
						.form-body
							.cross-modal
								i
									<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g><path d="m17.93311,1.87167l-1.81252,-1.81252l-7.15402,7.15402l-7.15402,-7.15402l-1.81252,1.81252l7.15402,7.15402l-7.15402,7.15402l1.81252,1.81252l7.15402,-7.15402l7.15402,7.15402l1.81252,-1.81252l-7.15402,-7.15402l7.15402,-7.15402z"/></g></svg>
								span Close