.groups-modals(data-modals="projects")
	.cross-head.cross-modal
		.cross-container
			span.cross.cross-1
			span.cross.cross-2
	.groups-modal-scroll#groups-scroll
		.groups-modal-content
			.content-container
				.content-scrolls
					//- Область, куда будет вставляться внутрянка групп по ID 
					.groups-content
						.content-head
							.navigation
								a.navigation-link.navigation-prev.inactive(href="#")
									.icon
										<svg width="18" height="33" viewBox="0 0 18 33" xmlns="http://www.w3.org/2000/svg"><polyline stroke-width="2" stroke-miterlimit="10" points="16.918914794921875,31.945904306643854 1.500017916478555,16.527010695890397 16.918914794921875,1.1081148386001587 " fill="none"/></svg>
								a.navigation-link.navigation-next(href="#")
									.icon
										<svg width="18" height="33" viewBox="0 0 18 33" xmlns="http://www.w3.org/2000/svg"><polyline stroke-width="2" stroke-miterlimit="10" points="1.0547451972961426,1.1021898984909058 16.478100694326315,16.525547818642323 1.0547451972961426,31.9489037772194 " fill="none"/></svg>
							.content-title SN 80, Group I
						.content-body
							.content-goods.columns
								.goods-title
									h3.h3 General specifications
								.goods-desrciption
									.container-show_more.js-show_more-table
										.show_more-action
											.show_more-head
												.table
													.table-head
														.table-head-row
															.table-head-item
																span Quality parameters
															.table-head-item
																span Standards
															.table-head-item
																span Results
													.table-body
														.table-body-row
															.table-body-item
																span Kinematic viscosity at <br> 1000C, mm2/s
															.table-body-item
																span 2,8-3,5
															.table-body-item
																span 3,1
														.table-body-row
															.table-body-item
																span Kinematic viscosity at <br>400C,mm2/s
															.table-body-item
																span Not rated
															.table-body-item
																span 13
														.table-body-row
															.table-body-item
																span Viscosity index, min
															.table-body-item
																span Not rated
															.table-body-item
																span 97
														.table-body-row
															.table-body-item
																span Acid number mg 
															.table-body-item
																span 0,008
															.table-body-item
																span Absence
											.show_more-body
												.table
													.table-body
														.table-body-row
															.table-body-item
																span Kinematic viscosity at <br> 1000C, mm2/s
															.table-body-item
																span 2,8-3,5
															.table-body-item
																span 3,1
														.table-body-row
															.table-body-item
																span Kinematic viscosity at <br>400C,mm2/s
															.table-body-item
																span Not rated
															.table-body-item
																span 13
														.table-body-row
															.table-body-item
																span Viscosity index, min
															.table-body-item
																span Not rated
															.table-body-item
																span 97
														.table-body-row
															.table-body-item
																span Acid number mg 
															.table-body-item
																span 0,008
															.table-body-item
																span Absence
										.show_more-trigger
											span More information
							.content-goods
								.goods-title
									h3.h3 Manufacturers
								.goods-desrciption
									.elemets-container
										.elements-field
											a.element-trigger(href="#")
												.element-name
													span Cali Food Ltd
												.element-content
													p USA
										.elements-field
											a.element-trigger(href="#")
												.element-name
													span Cali Food Ltd
												.element-content
													p USA
										.elements-field
											a.element-trigger(href="#")
												.element-name
													span Cali Food Ltd
												.element-content
													p USA
										.elements-field
											a.element-trigger(href="#")
												.element-name
													span Cali Food Ltd
												.element-content
													p USA
										.elements-field
											a.element-trigger(href="#")
												.element-name
													span Cali Food Ltd
												.element-content
													p USA
					//- скрипт должен приходить вместе с контенотом
					script(text="text/javascript").
						var show_more = new ShowMore(".js-show_more-table", {
							showText: "More information",
							hideText: "Hide information"
						})
	.row-request
		.request-container
			a.request-access(href="#")
				i.icon
					<svg width="21.3" height="19" viewBox="0 0 21.3 19" xmlns="http://www.w3.org/2000/svg"><path d="m20.46729,15.93318c-0.00367,-0.90042 -0.63499,-0.92095 -1.38876,-1.22305l-3.52029,-1.41076c-0.06159,-0.0242 -0.12172,-0.04986 -0.18111,-0.07626l0,-0.00147c-0.62545,-0.28376 -1.17758,-0.67751 -1.38069,-0.95541l-0.00807,-0.0088l-0.0022,-0.0044c-0.01173,-0.01686 -0.0242,-0.03593 -0.03446,-0.05279l-0.00807,-0.0154l-0.0022,-0.00367l-0.00733,-0.0088l0,-0.00147c-0.09385,-0.14005 -0.18844,-0.20311 -0.26837,-0.17598l-0.00513,0.0022l-0.0022,0.00073l-0.00073,0.00073l-0.0044,0.00293l-0.00293,0l-0.0044,0.0044c-0.09532,0.04913 -0.07626,-0.0044 -0.11512,-0.10852c-0.09532,-0.2581 -0.25223,-0.74791 -0.27643,-0.81903c-0.03666,-0.13492 -0.13492,0.21191 -0.11219,-0.16205l0.04106,-0.67458c0.06453,-0.07039 0.11659,-0.12758 0.15251,-0.16718c0.2295,-0.26177 0.2449,-0.95541 0.35929,-1.12406c0.11512,-0.16865 0.34609,-0.20457 0.57486,-0.99281c0.23024,-0.78603 0.51034,-1.91009 0.21484,-1.92916c-0.07259,-0.0044 -0.15471,0.04326 -0.23977,0.11732c0.05206,-0.2889 0.16205,-0.94368 0.18624,-1.42762c0.03373,-0.63719 -0.07259,-2.27085 -0.43481,-2.86844c-0.22657,-0.37395 -0.68338,-0.74497 -1.13872,-1.03387c-0.27277,-0.17378 -0.5448,-0.31823 -0.7677,-0.41575c-0.66358,-0.29403 -2.75479,-0.15911 -3.46383,0c-0.80657,0.18038 -1.37189,0.68705 -1.73265,1.28684c-0.36075,0.59906 -0.52133,2.39623 -0.4898,3.03342c0.0154,0.28596 0.18624,0.7677 0.2295,1.06247c0.02493,0.15325 0.04766,0.15471 0.06672,0.26397c-0.03006,-0.01247 -0.05939,-0.0176 -0.08579,-0.01613c-0.29623,0.01833 -0.01613,1.14239 0.21337,1.92916c0.2295,0.78603 0.45974,0.82343 0.57413,0.99281c0.11512,0.16865 0.13198,0.86229 0.36149,1.12406c0.03666,0.04253 0.09166,0.10192 0.16058,0.17451l0.04473,0.5514l0.07699,0.30649c-0.0352,-0.08799 -0.10559,-0.14445 -0.13785,-0.03006c-0.09899,0.30063 -0.19871,0.60126 -0.29696,0.90189c-0.01027,-0.0154 -0.0264,-0.0242 -0.04473,-0.02566c-0.09605,-0.08432 -0.22584,-0.01173 -0.34316,0.18478c-0.17304,0.29036 -0.74864,0.70758 -1.41662,1.00821l-0.00953,0.03593l-0.01027,0.0374l-0.00367,0.0154c-0.05206,0.022 -0.10559,0.04546 -0.15911,0.06599l-3.51956,1.41076c-0.75304,0.30063 -1.38436,0.32263 -1.38949,1.22305l-0.58293,3.06568l21.11807,0l-0.78457,-3.06568l0.0022,-0.00367z"/></svg>
				span Professional access to all specifications
			a.request-position.btn(href="#" data-modal="modal" data-option="feedback" data-inner="true")
				span Send a request
				i.icon.icon-arrow
					<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>