.contacts-header
	ul.contacts-list
		li.contacts-item
			a.phone(href="callto:+37166165507")
				span +371 6616 5507
		li.contacts-item
			a.skype(href="skype:himbalt.lv?call")
				i.icon.icon-skype
					svg(class="icon")
						use(xlink:href="#icon-skype")
				span himbalt.lv
		li.contacts-item
			a.mail(href="mailto:info@himbalt.lv")
				span info@himbalt.lv