.news-modals(data-modals="news")
	.cross-head.cross-modal
		.cross-container
			span.cross.cross-1
			span.cross.cross-2
	.news-modal-scroll#news-scroll
		.news-modal-content
			.content-container
				.content-scrolls
					//- Область, куда будет вставляться внутрянка групп по ID 
					.news-content
						.content-head
							.navigation
								a.navigation-link.navigation-prev.inactive(href="#")
									.icon
										<svg width="18" height="33" viewBox="0 0 18 33" xmlns="http://www.w3.org/2000/svg"><polyline stroke-width="2" stroke-miterlimit="10" points="16.918914794921875,31.945904306643854 1.500017916478555,16.527010695890397 16.918914794921875,1.1081148386001587 " fill="none"/></svg>
								a.navigation-link.navigation-next(href="#")
									.icon
										<svg width="18" height="33" viewBox="0 0 18 33" xmlns="http://www.w3.org/2000/svg"><polyline stroke-width="2" stroke-miterlimit="10" points="1.0547451972961426,1.1021898984909058 16.478100694326315,16.525547818642323 1.0547451972961426,31.9489037772194 " fill="none"/></svg>
							.content-date 30.12.2016
							.content-title We signed a contract with a major oil-producing plant 
						.content-body
							.container-image
								.image-element
									img(src="img/image-content/image-1.jpg")
								.text-elements
									p.lead Himbalt company organizes the transportation and supply of petroleum products, oils and polyethylene around the world: from Europe to Asia, from Aust&shy;ralia to America. 
							p Himbalt company organizes the transportation and supply of petrole&shy;um products, oils and polyethylene around the world: from Europe to Asia, from Australia to America. Himbalt company organizes the trans&shy;portation and supply of petroleum products, oils and polyethylene
							p Himbalt company organizes the transportation and supply of petrole&shy;um products, oils and polyethylene around the world: from Europe to Asia, from Australia to America. Himbalt company organizes the trans&shy;portation and supply of petroleum products, oils and polyethylene