extends _layout

block title
	title Logistics
block content
	.root_wrapper.load-dom
		i.overlay
		.root_frame
			.root_frame-content
				.pages
					.section-scroll-container
						.section-scroll.js-ajx(data-pages="false")
							article.container-content
								section.intro-head
									.logo-container
										- var Index = true
										if(Index)
											.logo
										else
											a(href="/" class="js-link logo")
									.ui-menu
										span.ui-menu__content
											i.ui-menu-line.ui-menu-line-1
											i.ui-menu-line.ui-menu-line-2
											i.ui-menu-line.ui-menu-line-3
									.breadcumbs
										.breadcumbs-inner
											.breadcrumbs-content
												.breadcrumbs-item
													a(href="/" class="js-link")
														span Home
												.breadcrumbs-item
													a(href="/" class="js-link")
														span Logistics
									.intro-head-container
										h1.h1
											span Logistics
								section.section-anchors
									.anchor-container
										ul
											mixin anchors(name, link)
												li.achors-item
													a.anchor-trigger(href="#" + link)
														span #{name}
											+anchors("Base oils", "group-1")
											+anchors("Petrochemicals", "group-2")
											+anchors("Paraffin wax", "group-3")
								section.section.js-section(data-inview-class="push-it")
									.l
										p.lead Himbalt company organizes the transportation and supply of petroleum products, oils and polyethylene around the world: from Europe to Asia, from Australia to America.
								section.section.js-section(data-inview-class="push-it")
									.l
										div.quote Extensive experience and knowledge of all the nuances enable us to realize any wish of the client. For us, nothing is impossible. 
								section.section.js-section(data-inview-class="push-it")
									div.container
										.container-image
											.title-head(id="group-1")
												h2.h2 Base oils
											.image-element
												img(src="img/image-content/img-2.jpg")
											.text-elements
												p The logistics tasks include processes regulating the carriage of goods at destination. Transport logistics involves a number of operations, including packaging, insurance, freight forwarding, clearance at customs warehousing. This makes it possible to optimize the costs by selecting the optimum route and prompt registration of supporting documents.
								section.section.js-section(data-inview-class="push-it")
									.container
										.map-content#map(data-coord="55.5146432,28.5606439;57.8991523,38.8388633;55.613196,51.8469974;53.0960666,49.8912888;54.7387621,55.9720554;40.4092617,49.8670924;54.9884804,73.3242362;52.5155702,103.91716")
											script(type="text/javascript").
												$(googleMaps);
										button.btn(href="#" data-modal="modal" data-option="feedback")
											span feedback form 
											i.icon.icon-arrow
												<svg width="16" height="12.3" viewBox="0 0 16 12.3" xmlns="http://www.w3.org/2000/svg"><path fill="#FFFFFF" d="m15.70755,5.63399l-5.18881,-5.18881c-0.31781,-0.31781 -0.83021,-0.31781 -1.14802,0c-0.31781,0.31781 -0.31781,0.83021 0,1.14802l3.80729,3.8008l-12.30396,0c-0.44753,0 -0.81075,0.36322 -0.81075,0.81075c0,0.44753 0.36322,0.81075 0.81075,0.81075l12.30396,0l-3.80729,3.80729c-0.31781,0.31781 -0.31781,0.83021 0,1.14802c0.15566,0.15566 0.36322,0.23998 0.57077,0.23998s0.4151,-0.07783 0.57077,-0.23998l5.18881,-5.18881c0.3243,-0.31781 0.3243,-0.8367 0.00649,-1.14802z"/></svg>
								section.section.js-section(data-inview-class="push-it")
									div.container
										div.column-100
											h3.h3 Packaging solutions delivery of base oils
										div.wrapp-column.wrap-columns-center
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="7.375rem" height="4.375rem" viewBox="0 0 118.8 70" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.7,2.5l111,0l0,65.4l-111,0c0,0 0,-65.4 0,-65.4z" stroke="#AC252A" fill-opacity="0" fill="#F0F3F8"/><path d="m17.5,10.5l1,0l0,47.2l-1,0l0,-47.2z" fill="#AC252A"/><path d="m31.5,10.5l1,0l0,47.2l-1,0l0,-47.2z" fill="#AC252A"/><path d="m44.7,11.4l1,0l0,47.2l-1,0c0,0 0,-47.2 0,-47.2z" fill="#AC252A"/><path d="m58.2,11.4l1,0l0,47.2l-1,0c0,0 0,-47.2 0,-47.2z" fill="#AC252A"/><path d="m71.7,11.4l1,0l0,47.2l-1,0c0,0 0,-47.2 0,-47.2z" fill="#AC252A"/><path d="m85.7,11.4l1,0l0,47.2l-1,0c0,0 0,-47.2 0,-47.2z" fill="#AC252A"/><path d="m99.7,11.4l1,0l0,47.2l-1,0c0,0 0,-47.2 0,-47.2z" fill="#AC252A"/><path d="m2.4,0.5l114.1,0c1,0 1.8,0.8 1.8,1.8s-0.8,1.8 -1.8,1.8l-114.1,0c-1,0 -1.8,-0.8 -1.8,-1.8s0.8,-1.8 1.8,-1.8z" stroke="#AC252A" fill="#FFFFFF"/><path d="m2.4,65.8l114.1,0c1,0 1.8,0.8 1.8,1.8s-0.8,1.8 -1.8,1.8l-114.1,0c-1,0 -1.8,-0.8 -1.8,-1.8s0.8,-1.8 1.8,-1.8z" stroke="#AC252A" fill="#FFFFFF"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="4.3125rem" height="4.4375rem" viewBox="0 0 69 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m6.08499,4.45291l57,0c1.4,0 2.5,1.1 2.5,2.5l0,57.1c0,1.4 -1.1,2.5 -2.5,2.5l-57,0c-1.4,0 -2.5,-1.1 -2.5,-2.5l0,-57.1c0,-1.4 1.1,-2.5 2.5,-2.5z" stroke="#AC252A" fill-opacity="0" fill="#F0F3F8"/><path d="m13.58499,5.95291l1,0l0,60.1l-1,0c0,-0.1 0,-60.1 0,-60.1z" fill="#AC252A"/><path d="m23.58499,5.95291l1,0l0,60.1l-1,0c0,-0.1 0,-60.1 0,-60.1z" fill="#AC252A"/><path d="m44.58499,5.95291l1,0l0,60.1l-1,0c0,-0.1 0,-60.1 0,-60.1z" fill="#AC252A"/><path d="m54.58499,5.95291l1,0l0,60.1l-1,0c0,-0.1 0,-60.1 0,-60.1z" fill="#AC252A"/><path d="m65.58499,15.85291l0,1l-62,0l0,-1l62,0z" fill="#AC252A"/><path d="m65.58499,26.25291l0,1l-62,0l0,-1l62,0z" fill="#AC252A"/><path d="m65.58499,43.15291l0,1l-62,0l0,-1l62,0z" fill="#AC252A"/><path d="m65.58499,53.55291l0,1l-62,0l0,-1l62,0z" fill="#AC252A"/><path d="m2.38499,2.45291l64.5,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.7 -1.8,1.7l-64.5,0c-1,0 -1.8,-0.8 -1.8,-1.7c0,-0.9 0.8,-1.7 1.8,-1.7z" stroke="#AC252A" fill="#FFFFFF"/><path d="m45.58499,0.45291l9,0c0.6,0 1,0.4 1,1c0,0.5 -0.4,1 -1,1l-9,0c-0.6,0 -1,-0.4 -1,-1c0,-0.6 0.4,-1 1,-1z" stroke="#AC252A" fill-opacity="0" fill="#AC252A"/><path d="m1.08499,63.95291l27.5,0l0,3.5l-27.5,0l0,-3.5z" stroke="#AC252A" fill="#FFFFFF"/><path d="m40.58499,63.95291l27.5,0l0,3.5l-27.5,0l0,-3.5z" stroke="#AC252A" fill="#FFFFFF"/><path d="m2.08499,63.95291l2.5,0c0.6,0 1,0.4 1,1l0,4.5c0,0.5 -0.4,1 -1,1l-2.5,0c-0.6,0 -1,-0.4 -1,-1l0,-4.5c0,-0.5 0.4,-1 1,-1z" stroke="#AC252A" fill="#FFFFFF"/><path d="m64.58499,63.95291l2.5,0c0.6,0 1,0.4 1,1l0,4.5c0,0.5 -0.4,1 -1,1l-2.5,0c-0.6,0 -1,-0.4 -1,-1l0,-4.5c0,-0.5 0.4,-1 1,-1z" stroke="#AC252A" fill="#FFFFFF"/></g></svg>
													p.title IBC
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="3.0625rem" height="4.125rem" viewBox="0 0 49 66" xmlns="http://www.w3.org/2000/svg"><g><path d="m4.89287,2.64287l39,0c1.4,0 2.5,1.1 2.5,2.5l0,57.1c0,1.4 -1.1,2.5 -2.5,2.5l-39,0c-1.4,0 -2.5,-1.1 -2.5,-2.5l0,-57.1c0,-1.4 1.1,-2.5 2.5,-2.5z" stroke="#AC252A" fill-opacity="0" fill="#F0F3F8"/><path d="m2.19287,0.64287l44.5,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.7 -1.8,1.7l-44.5,0c-1,0 -1.8,-0.8 -1.8,-1.7c0,-0.9 0.8,-1.7 1.8,-1.7z" stroke="#AC252A" fill="#FFFFFF"/><path d="m2.19287,20.04287l44.5,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.7 -1.8,1.7l-44.5,0c-1,0 -1.8,-0.8 -1.8,-1.7c0,-1 0.8,-1.7 1.8,-1.7z" stroke="#AC252A" fill="#FFFFFF"/><path d="m2.19287,42.84287l44.5,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.7 -1.8,1.7l-44.5,0c-1,0 -1.8,-0.8 -1.8,-1.7c0,-0.9 0.8,-1.7 1.8,-1.7z" stroke="#AC252A" fill="#FFFFFF"/><path d="m1.69287,62.14287l45,0c1,0 1.8,0.8 1.8,1.7s-0.8,1.7 -1.8,1.7l-45,0c-1,0 -1.3,-0.8 -1.3,-1.7s0.3,-1.7 1.3,-1.7z" stroke="#AC252A" fill="#FFFFFF"/><path d="m24.09287,25.94287c0,0 4.2,6.5 4.2,8.9s-1.9,4.5 -4.2,4.5s-4.2,-2 -4.2,-4.5s4.2,-8.9 4.2,-8.9z" stroke="#AC252A" fill-opacity="0" fill="#FAFAFA"/></g></svg>
													p.title Steel drum
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="8.8125rem" height="2.8125rem" viewBox="0 0 141 45" xmlns="http://www.w3.org/2000/svg"><g><path d="m130.1125,22.7125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.6,-1.5l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><path d="m136.4125,22.7125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.5,-1.5l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><path d="m130.1125,29.0125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.6,-1.6l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><path d="m123.9125,22.7125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.5,-1.5l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><path d="m123.9125,16.4125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.5,-1.5l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><path d="m123.9125,29.0125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.5,-1.6l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><path d="m136.4125,29.0125l0,1.6l-1.6,0l0,-1.6l1.6,0m1.5,-1.6l-4.7,0l0,4.7l4.7,0l0,-4.7l0,0z" fill="#AC262A"/><rect height="1.6" width="107.9" fill="#AC262A" y="35.3125" x="11.3125"/><path d="m138.99167,16.24167l0,-3.1l-10.9,0l0,-3.1l-4.7,0l0,-3.6c2,-0.6 5.6,-1.6 7.8,-2.7c-2.2,0 -5.8,-1.4 -7.8,-2.4l0,-0.8l-1.6,0l0,6.3l0,3.1l-4.7,0l0,18.9l-86,0l-4.7,-3.1l-23.5,-1.6c-2.7,0 -3.1,1.6 -1.4,3.3l10.6,13.8c1.9,1.7 5.5,3.3 8,3.3l103.2,0c10.2,-5.3 17.2,-3.6 17.2,-6.3l0,-22l-1.5,0zm-15.6,-13.2c0.8,0.3 1.6,0.6 2.5,0.9c-0.9,0.3 -1.9,0.5 -2.5,0.8l0,-1.7zm4.7,11.6l9.4,0l0,1.6l-9.4,0l0,-1.6zm10.9,23.3c-4.8,0.9 -10.5,2 -15.9,5l-102.9,0c-2.2,0 -5.3,-1.3 -6.9,-2.8c0,0 -9.5,-12.3 -11.1,-14.5c0.2,0 0.3,0 0.6,0l23,1.6l4.7,3.1l88,0l0,-18.8l7.8,0l0,6.3l12.5,0l0,20.1l0.2,0z" fill="#AC262A"/></g></svg>
													p.title Tanker
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="5.875rem" height="4rem" viewBox="0 0 94 64" xmlns="http://www.w3.org/2000/svg"><g><path d="m15.9,54.0353c2.4,0 4.4,2 4.4,4.5c0,2.4 -2,4.5 -4.4,4.5s-4.4,-2 -4.4,-4.5c-0.1,-2.5 2,-4.5 4.4,-4.5m0,-1.3c-3.2,0 -5.7,2.6 -5.7,5.8c0,3.2 2.5,5.8 5.7,5.8c3.2,0 5.7,-2.6 5.7,-5.8c0,-3.3 -2.5,-5.8 -5.7,-5.8l0,0z" fill="#AC262A"/><path d="m15.9,61.0353c-1.4,0 -2.5,-1.2 -2.5,-2.6c0,-1.4 1.1,-2.6 2.5,-2.6c1.4,0 2.5,1.2 2.5,2.6c0,1.4 -1.1,2.6 -2.5,2.6zm0,-3.8c-0.8,0 -1.3,0.5 -1.3,1.3c0,0.8 0.5,1.3 1.3,1.3c0.8,0 1.3,-0.5 1.3,-1.3c-0.1,-0.8 -0.6,-1.3 -1.3,-1.3z" fill="#AC262A"/><path d="m73,54.0353c2.4,0 4.4,2 4.4,4.5c0,2.4 -2,4.5 -4.4,4.5c-2.4,0 -4.4,-2 -4.4,-4.5c0,-2.5 2,-4.5 4.4,-4.5m0,-1.3c-3.2,0 -5.7,2.6 -5.7,5.8c0,3.2 2.5,5.8 5.7,5.8c3.2,0 5.7,-2.6 5.7,-5.8c0.1,-3.3 -2.5,-5.8 -5.7,-5.8l0,0z" fill="#AC262A"/><path d="m73,61.0353c-1.4,0 -2.5,-1.2 -2.5,-2.6c0,-1.4 1.1,-2.6 2.5,-2.6c1.4,0 2.5,1.2 2.5,2.6c0.1,1.4 -1.1,2.6 -2.5,2.6zm0,-3.8c-0.8,0 -1.3,0.5 -1.3,1.3c0,0.8 0.5,1.3 1.3,1.3c0.8,0 1.3,-0.5 1.3,-1.3c0,-0.8 -0.5,-1.3 -1.3,-1.3z" fill="#AC262A"/><path d="m76.2,5.3353l-54.6,0l0,-1.3l3.8,0l0,-3.8l-12.7,0l0,3.8l3.8,0l0,1.3l-3.8,0c-7,0 -12.7,5.8 -12.7,12.8l0,12.8c0,7 5.7,12.8 12.7,12.8l63.5,0c7,0 12.7,-5.8 12.7,-12.8l0,-12.8c0,-7 -5.7,-12.8 -12.7,-12.8zm-62.2,-2.5l0,-1.3l10.2,0l0,1.3l-3.8,0l0,2.6l-2.5,0l0,-2.6l-3.9,0zm19,39.6l-5.1,0l0,-3.8l5.1,0l0,3.8zm0,-5.1l-5.1,0l0,-3.8l5.1,0l0,3.8zm0,-5.1l-5.1,0l0,-3.8l5.1,0l0,3.8zm0,-5.1l-5.1,0l0,-3.9l5.1,0l0,3.9zm0,-5.1l-5.1,0l0,-3.8l5.1,0l0,3.8zm0,-5.2l-5.1,0l0,-3.8l5.1,0l0,3.8zm54.6,14.1c0,6.4 -5.1,11.5 -11.4,11.5l-41.9,0l0,-3.8l0.6,0c0.4,0 0.6,-0.3 0.6,-0.6c0,-0.4 -0.3,-0.6 -0.6,-0.6l-0.6,0l0,-3.8l0.6,0c0.4,0 0.6,-0.3 0.6,-0.6s-0.3,-0.6 -0.6,-0.6l-0.6,0l0,-3.8l0.6,0c0.4,0 0.6,-0.3 0.6,-0.6c0,-0.4 -0.3,-0.6 -0.6,-0.6l-0.6,0l0,-4.2l0.6,0c0.4,0 0.6,-0.3 0.6,-0.6c0,-0.4 -0.3,-0.6 -0.6,-0.6l-0.6,0l0,-3.8l0.6,0c0.4,0 0.6,-0.3 0.6,-0.6s-0.3,-0.6 -0.6,-0.6l-0.6,0l0,-3.8l0.6,0c0.4,0 0.6,-0.3 0.6,-0.6s-0.3,-0.6 -0.6,-0.6l-0.6,0l0,-3.2c0,-0.4 -0.3,-0.6 -0.6,-0.6c-0.4,0 -0.6,0.3 -0.6,0.6l0,3.2l-5.1,0l0,-3.2c0,-0.4 -0.3,-0.6 -0.6,-0.6c-0.4,0 -0.6,0.3 -0.6,0.6l0,3.2l-0.8,0c-0.4,0 -0.6,0.3 -0.6,0.6s0.3,0.6 0.6,0.6l0.6,0l0,3.8l-0.6,0c-0.4,0 -0.6,0.3 -0.6,0.6s0.3,0.6 0.6,0.6l0.6,0l0,3.8l-0.6,0c-0.4,0 -0.6,0.3 -0.6,0.6c0,0.4 0.3,0.6 0.6,0.6l0.6,0l0,3.8l-0.6,0c-0.4,0 -0.6,0.3 -0.6,0.6c0,0.4 0.3,0.6 0.6,0.6l0.6,0l0,3.8l-0.6,0c-0.4,0 -0.6,0.3 -0.6,0.6s0.3,0.6 0.6,0.6l0.6,0l0,3.8l-0.6,0c-0.4,0 -0.6,0.3 -0.6,0.6c0,0.4 0.3,0.6 0.6,0.6l0.6,0l0,3.8l-14,0c-6.4,0 -11.4,-5.1 -11.4,-11.5l0,-12.8c0,-6.4 5.1,-11.5 11.4,-11.5l63.5,0c6.4,0 11.4,5.1 11.4,11.5l0,13.2l0.1,0z" fill="#AC262A"/><path d="m62.2,54.0353l0,2.6l-35.6,0l0,-2.6l35.6,0m1.3,-1.3l-38.1,0l0,5.1l38.1,0l0,-5.1l0,0z" fill="#AC262A"/><path d="m90.2,43.7353l0,2.6l-1.3,0l0,-1.3l-88.9,0l0,6.4l88.9,0l0,-1.3l5.1,0l0,-6.4l-3.8,0zm-88.9,6.4l0,-3.8l86.4,0l0,3.8l-86.4,0zm91.4,-1.3l-3.8,0l0,-1.3l2.5,0l0,-2.6l1.3,0l0,3.9z" fill="#AC262A"/></g></svg>
													p.title Railway tank car
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="11.875rem" height="2.75rem" viewBox="0 0 190 44" xmlns="http://www.w3.org/2000/svg"><g><path d="m188.61905,28.39048l-4.5,-14.2c0,-1.3 -1.1,-2.4 -2.6,-2.4l-16.5,0c-1.3,0 -2.6,1.1 -2.6,2.6l0,21.7c0,0.7 0.2,1.1 0.4,1.5l-16.7,0l0,-9l6.6,0l0.2,-0.2c0,-0.2 2.1,-4.2 2.1,-13.8c0,-10.1 -2.1,-13.8 -2.1,-13.8l0,-0.7l-151.1,0l0,0.2c-0.2,0.2 -1.7,3.1 -1.7,13.8c0,9.4 1.5,13.6 1.7,13.8l0.2,0.2l14.8,0l0,2.2l4.5,0c-2.4,1.3 -4.1,3.9 -4.3,7l-3.9,0l0,1.1l4.7,0l0,-0.4c0,-4.2 3.2,-7.4 7.3,-7.4s7.3,3.3 7.3,7.4l0,0.4l5.4,0l0,-0.4c0,-4.2 3.2,-7.4 7.3,-7.4c4.1,0 7.3,3.3 7.3,7.4l0,0.4l5.4,0l0,-0.4c0,-4.2 3.2,-7.4 7.3,-7.4s7.3,3.3 7.3,7.4l0,0.4l4.9,0l0,-1.1l-3.9,0c-0.2,-3.1 -1.9,-5.5 -4.3,-7l4.5,0l0,-2.2l61.5,0l0,9.2l-8.8,0c-0.2,-4.4 -3.9,-7.9 -8.1,-7.9s-8.4,3.5 -8.6,7.9l-10.9,0l0,1.1l12,0l0,-0.4c0,-4.2 3.2,-7.4 7.3,-7.4c4.1,0 7.3,3.3 7.3,7.4l0,0.4l39.7,0l0,0l0.9,0l0,-0.4c0,-4.2 3.2,-7.4 7.3,-7.4c4.1,0 7.3,3.3 7.3,7.4l0,0.4l3.2,0c0.4,0 6.4,-0.7 6.4,-2.6l0,-6.6l-1.5,-0.8zm-151.6,9l-3.4,0c-0.2,-3.1 -1.9,-5.5 -4.3,-7l12.2,0c-2.8,1.5 -4.5,4.2 -4.5,7zm19.7,0l-3.4,0c-0.2,-3.1 -1.9,-5.5 -4.3,-7l12.2,0c-2.6,1.5 -4.3,4.2 -4.5,7zm15.7,-7.9l-54.7,0l0,-1.1l54.7,0l0,1.1zm-69.9,-2.1c-0.2,-1.1 -1.3,-5.3 -1.3,-13.1c0,-8.8 1.1,-12.3 1.5,-13.1l149.7,0c0.4,0.9 1.9,4.8 1.9,13.1c0,8.1 -1.5,12 -1.9,13.1l-6.2,0l-11.4,0l-132.3,0zm142.8,1l0,9l-9.2,0l0,-9l9.2,0zm42,-0.6l-3.9,0c-0.9,0 -1.5,-0.7 -1.5,-1.5l0,-10.1c0,-0.7 0.4,-1.3 1.1,-1.5l4.3,13.1zm-3.9,9.6l-2.1,0c-0.2,-4.4 -3.9,-7.9 -8.1,-7.9s-8.1,3.5 -8.4,7.9c-0.6,0 -1.3,-0.7 -1.3,-1.5l0,-21.5c0,-0.9 0.6,-1.5 1.5,-1.5l16.5,0c0.6,0 1.1,0.4 1.3,0.9c-1.1,0.2 -1.9,1.3 -1.9,2.4l0,10.1c0,1.3 1.1,2.6 2.6,2.6l4.1,0l0.2,0.4l1.3,0.9l0,5.9c-0.5,0.4 -4.2,1.3 -5.7,1.3z" fill="#AC252A"/><path d="m118.01905,31.49048c-3.4,0 -6.2,2.8 -6.2,6.3s2.8,6.3 6.2,6.3c3.4,0 6.2,-2.8 6.2,-6.3s-2.7,-6.3 -6.2,-6.3zm0,11.8c-3,0 -5.4,-2.4 -5.4,-5.5c0,-3.1 2.4,-5.5 5.4,-5.5c3,0 5.4,2.4 5.4,5.5c0,3.1 -2.6,5.5 -5.4,5.5z" fill="#AC252A"/><path d="m118.01905,33.49048c-2.4,0 -4.3,2 -4.3,4.4c0,2.4 1.9,4.4 4.3,4.4c2.4,0 4.3,-2 4.3,-4.4c0,-2.5 -1.9,-4.4 -4.3,-4.4zm0,7.9c-1.9,0 -3.4,-1.5 -3.4,-3.5c0,-2 1.5,-3.5 3.4,-3.5c1.9,0 3.4,1.5 3.4,3.5c0.1,1.9 -1.6,3.5 -3.4,3.5z" fill="#AC252A"/><ellipse ry="1.5" rx="1.5" cy="38.09048" cx="118.01905" fill="#AC252A"/><path d="m173.21905,33.49048c-2.4,0 -4.3,2 -4.3,4.4c0,2.4 1.9,4.4 4.3,4.4c2.4,0 4.3,-2 4.3,-4.4c-0.1,-2.5 -2,-4.4 -4.3,-4.4zm0,7.9c-1.9,0 -3.4,-1.5 -3.4,-3.5c0,-2 1.5,-3.5 3.4,-3.5c1.9,0 3.4,1.5 3.4,3.5c0,1.9 -1.7,3.5 -3.4,3.5z" fill="#AC252A"/><ellipse ry="1.5" rx="1.5" cy="38.09048" cx="173.21905" fill="#AC252A"/><path d="m173.21905,31.49048c-3.4,0 -6.2,2.8 -6.2,6.3s2.8,6.3 6.2,6.3s6.2,-2.8 6.2,-6.3s-2.8,-6.3 -6.2,-6.3zm0,11.8c-3,0 -5.4,-2.4 -5.4,-5.5c0,-3.1 2.4,-5.5 5.4,-5.5s5.4,2.4 5.4,5.5c-0.1,3.1 -2.7,5.5 -5.4,5.5z" fill="#AC252A"/><path d="m177.91905,13.59048l-9.9,0c-1.3,0 -2.6,1.3 -2.6,2.6l3.2,9.2c0.9,2 1.9,2.2 3.9,2.6l5.4,0.4l0,0c1.3,0 2.6,-1.3 2.6,-2.6l0,-9.4c-0.1,-1.5 -1.1,-2.8 -2.6,-2.8zm1.5,12.4c0,0.9 -0.6,1.8 -1.5,1.8l-5.1,-0.4c-1.9,-0.4 -2.4,-0.7 -3,-2l-3.2,-9c0,-0.9 0.6,-1.5 1.5,-1.5l9.9,0c0.9,0 1.5,0.7 1.5,1.8l0,9.3l-0.1,0z" fill="#AC252A"/><path d="m45.11905,31.49048c-3.4,0 -6.2,2.8 -6.2,6.3s2.8,6.3 6.2,6.3s6.2,-2.8 6.2,-6.3s-2.7,-6.3 -6.2,-6.3zm0,11.8c-3,0 -5.4,-2.4 -5.4,-5.5c0,-3.1 2.4,-5.5 5.4,-5.5s5.4,2.4 5.4,5.5c0,3.1 -2.6,5.5 -5.4,5.5z" fill="#AC252A"/><path d="m45.11905,33.49048c-2.4,0 -4.3,2 -4.3,4.4c0,2.4 1.9,4.4 4.3,4.4s4.3,-2 4.3,-4.4c0,-2.5 -1.9,-4.4 -4.3,-4.4zm0,7.9c-1.9,0 -3.4,-1.5 -3.4,-3.5c0,-2 1.5,-3.5 3.4,-3.5s3.4,1.5 3.4,3.5c0.1,1.9 -1.7,3.5 -3.4,3.5z" fill="#AC252A"/><ellipse ry="1.5" rx="1.5" cy="38.09048" cx="45.11905" fill="#AC252A"/><path d="m65.11905,31.49048c-3.4,0 -6.2,2.8 -6.2,6.3s2.8,6.3 6.2,6.3s6.2,-2.8 6.2,-6.3s-2.8,-6.3 -6.2,-6.3zm0,11.8c-3,0 -5.4,-2.4 -5.4,-5.5c0,-3.1 2.4,-5.5 5.4,-5.5s5.4,2.4 5.4,5.5c-0.1,3.1 -2.6,5.5 -5.4,5.5z" fill="#AC252A"/><path d="m65.11905,33.49048c-2.4,0 -4.3,2 -4.3,4.4c0,2.4 1.9,4.4 4.3,4.4s4.3,-2 4.3,-4.4c0,-2.5 -2,-4.4 -4.3,-4.4zm0,7.9c-1.9,0 -3.4,-1.5 -3.4,-3.5c0,-2 1.5,-3.5 3.4,-3.5s3.4,1.5 3.4,3.5c0,1.9 -1.7,3.5 -3.4,3.5z" fill="#AC252A"/><ellipse ry="1.5" rx="1.5" cy="38.09048" cx="65.11905" fill="#AC252A"/><path d="m25.21905,31.49048c-3.4,0 -6.2,2.8 -6.2,6.3s2.8,6.3 6.2,6.3s6.2,-2.8 6.2,-6.3s-2.8,-6.3 -6.2,-6.3zm0,11.8c-3,0 -5.4,-2.4 -5.4,-5.5c0,-3.1 2.4,-5.5 5.4,-5.5s5.4,2.4 5.4,5.5c-0.1,3.1 -2.6,5.5 -5.4,5.5z" fill="#AC252A"/><path d="m25.21905,33.49048c-2.4,0 -4.3,2 -4.3,4.4c0,2.4 1.9,4.4 4.3,4.4s4.3,-2 4.3,-4.4c0,-2.5 -2,-4.4 -4.3,-4.4zm0,7.9c-1.9,0 -3.4,-1.5 -3.4,-3.5c0,-2 1.5,-3.5 3.4,-3.5s3.4,1.5 3.4,3.5c0,1.9 -1.5,3.5 -3.4,3.5z" fill="#AC252A"/><ellipse ry="1.5" rx="1.5" cy="38.09048" cx="25.21905" fill="#AC252A"/></g></svg>
													p.title Road truck
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg width="7.6875rem" height="3.6875rem" viewBox="0 0 123.5 59.5" xmlns="http://www.w3.org/2000/svg"><g><path d="m0.79002,0.73827l122,0l0,58l-122,0c0,0 0,-58 0,-58z" stroke-width="1.5" stroke="#AC252A" fill-opacity="0" fill="#F0F3F8"/><path d="m31.19002,1.23827l1.5,0l0,56.5l-1.5,0l0,-56.5z" fill="#AC252A"/><path d="m90.89002,1.23827l1.5,0l0,56.5l-1.5,0l0,-56.5z" fill="#AC252A"/><path d="m121.49002,31.93827l1,1.2l-30.1,25l-1,-1.2l30.1,-25z" fill="#AC252A"/><path d="m1.69002,31.73827l-0.9,1.2l29.9,24.8l0.9,-1.2c0.1,0 -29.9,-24.8 -29.9,-24.8z" fill="#AC252A"/><path d="m26.69002,4.23827l70.7,0c12.4,0 22.4,10.1 22.4,22.5l0,7c0,12.4 -10,22.5 -22.4,22.5l-70.7,0c-12.4,0 -22.4,-10.1 -22.4,-22.5l0,-7c0,-12.4 10,-22.5 22.4,-22.5z" stroke-width="2" stroke="#AC252A" fill-opacity="0" fill="#FE2F39"/></g></svg>
													p.title IBC
													p.desc We develop multidirectional supply markets to minimize
								section.section.js-section(data-inview-class="push-it")
									div.container.export
										div.column-100
											h3.h3 The export growth opportunities we see
										div.column-100
											img.img-map(src='img/image-content/map.png' alt='')
											p Installation of the flexi tanks into containers, loading of base oils and lubricants, freight shipment. Delivery of base oils in 20-foot flexi bag containers.
										div.column-100
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Ukraine, Belarus and Kazakhstan
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Baltic Sea
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Black Sea
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
								section.section.js-section(data-inview-class="push-it")
									div.container
										.container-image
											.title-head(id="group-2")
												h2.h2 Petrochemicals
											.image-element
												img(src="img/image-content/img-3.jpg")
											.text-elements
												p The logistics tasks include processes regulating the carriage of goods at destination. Transport logistics involves a number of operations, including packaging, insurance, freight forwarding, clearance at customs warehousing.
								section.section.js-section(data-inview-class="push-it")
									div.container
										div.column-100.text-center
											h3.h3 Packaging solutions <br> delivery of base oils
										div.wrapp-column.wrap-columns-center
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title IBC
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
								section.section.js-section(data-inview-class="push-it")
									div.container.export
										div.column-100
											h3.h3 The export growth opportunities we see
										div.column-100
											img.img-world(src='img/image-content/world.png' alt='')
											p Installation of the flexi tanks into containers, loading of base oils and lubricants, freight shipment. Delivery of base oils in 20-foot flexi bag containers.
										div.column-100
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
								section.section.js-section(data-inview-class="push-it")
									div.container
										.container-image
											.title-head(id="group-3")
												h2.h2 Paraffin wax
											.image-element
												img(src="img/image-content/img-4.jpg")
											.text-elements
												p The logistics tasks include processes regulating the carriage of goods at destination. Transport logistics involves a number of operations, including packaging, insurance, freight forwarding, clearance at customs warehousing. 
								section.section.js-section(data-inview-class="push-it")
									div.container
										div.column-100.text-center
											h3.h3 Packaging solutions <br> delivery of base oils
										div.wrapp-column.wrap-columns-center
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
											div.column-100
												div.icon-text-wrapp
													div.icon-svg-wrapp
														<svg class='icon-container' width="7.1875rem" height="71" viewBox="0 0 114 71" xmlns="http://www.w3.org/2000/svg"><g><path d="m3.8,4.5l107,0l0,62.8l-107,0l0,-62.8z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,0.2l110,0c1,0 1.8,0.9 1.8,2.1c0,1.2 -0.8,2.1 -1.8,2.1l-110,0c-1,0 -1.8,-0.9 -1.8,-2.1c0,-1.1 0.8,-2.1 1.8,-2.1z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m2,67.2l110,0c1,0 1.8,0.8 1.8,1.7c0,1 -0.8,1.8 -1.8,1.8l-110,0c-1,0 -1.8,-0.8 -1.8,-1.8c0,-0.9 0.8,-1.7 1.8,-1.7z" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#AC262A" stroke-width="0.5" stroke-miterlimit="10"/><path d="m16.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m30.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m44.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m57.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m70.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m83.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/><path d="m97.7,13l0.5,0l0,45.5l-0.5,0l0,-45.5z" fill-rule="evenodd" clip-rule="evenodd" fill="#AC262A"/></g></svg>
													p.title Flexi tank container
													p.desc We develop multidirectional supply markets to minimize
								section.section.js-section(data-inview-class="push-it")
									div.container.export
										div.column-100
											h3.h3 The export growth opportunities we see
										div.column-100
											img.img-world(src='img/image-content/world.png' alt='')
											p Installation of the flexi tanks into containers, loading of base oils and lubricants, freight shipment. Delivery of base oils in 20-foot flexi bag containers.
										div.column-100
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
											.column-100.card-top-line
												p.title Europe
												p.desc Delivery of base oils by vehicles and ISO tanks for local lubricants manufacturers
								a.section.full-link.js-section(data-inview-class="push-it", href="basic-oil.html")
									.next-page-hover.js-link
										.l
											div.container.next-page
												div.column-100
													span Next
													h2 Base oils
								section.section.bottom-nav.js-section(data-inview-class="push-it")
									.l
										div.container
											div.column-100
												ul.list-link
													li 
														a.js-link(href='/') Home
													li 
														a.js-link(href='logistics.html') Logistics
													li 
														a.js-link(href='news.html') News
													li 
														a.js-link(href='contact.html') Contacts
											div.column-100
												ul.list-link.list-link_no-bold
													li 
														a.js-link(href='/') Company
													li 
														a.js-link(href='/') Mission
													li 
														a.js-link(href='/') Geography
													li 
														a.js-link(href='/') Partners
											div.column-100
												ul.list-link.list-link-secondary
													li 
														a.js-link(href='basic-oil.html') Base oils
													li 
														a.js-link(href='petrochemicals.html') Petrochemicals
													li 
														a.js-link(href='/') Paraffin wax
											div.column-100
												div.contacts
													p.adress Latvijas Republika, Riga, Tvaika iela 35, LV-1034
														<svg id='pin' width='52' height='52' viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"><path d="M38.9,5.3L38.9,5.3c-7.1-7.1-18.6-7.1-25.7,0l0,0C6.8,11.7,6,23.8,11.5,31L26,52l14.5-21C46,23.8,45.2,11.7,38.9,5.3zM26.2,24c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S29.5,24,26.2,24z"/></svg>
													p.tel 
														a(href='tel:+37166165507') +371 6616 5507
															<svg id="tel" width='301.8' height='396.5' viewBox="0 0 301.8 396.5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 301.8 396.5" style="enable-background:new 0 0 301.8 396.5;" xml:space="preserve"><path d="M285.5,368c-11.2,13-92.1,94.4-214-95.2C-56.9,72.9,20.1,18.2,53.5,4.7l0,0c0.5-0.2,1.1-0.4,1.6-0.6c0.9-0.4,1.8-0.7,2.7-1c0.4-0.1,0.8-0.3,1.1-0.4c4.7-1.5,7.7-2,7.7-2s0,0.1,0,0.2c22.1-3.9,42.9,4.9,46.9,24.3l7,44c4.7,23.1-13.6,50.9-40.9,62.1l-2.2,0.9c14.5,50.2,43.7,108.1,101,160.7l4.2-3.7c22.3-19.4,55.4-23.2,73.9-8.6l32.6,28.3C307,323.2,306.3,348.7,285.5,368z"/></svg>
													p.dop_info 
														a(href='mailto:info@himbalt.lv') info@himbalt.lv 
														span
															a(href='skype:himbalt.lv') <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="438.536px" height="438.536px" viewBox="0 0 438.536 438.536" style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve"><path d="M415.7,262.093c3.039-14.657,4.564-28.935,4.564-42.826c0-27.218-5.276-53.247-15.844-78.087c-10.562-24.838-24.838-46.249-42.825-64.237C343.608,58.955,322.2,44.68,297.361,34.114c-24.845-10.559-50.866-15.843-78.088-15.843c-13.894,0-28.171,1.524-42.827,4.57C156.651,7.614,134.381,0,109.637,0C79.375,0,53.538,10.705,32.124,32.115c-21.416,21.416-32.12,47.253-32.12,77.516c0,24.744,7.614,47.014,22.839,66.809c-3.044,14.655-4.568,28.933-4.568,42.827c0,27.215,5.28,53.243,15.843,78.085c10.562,24.838,24.838,46.25,42.827,64.241c17.987,17.986,39.401,32.257,64.239,42.824c24.84,10.564,50.869,15.845,78.087,15.845c13.893,0,28.17-1.526,42.834-4.572c19.79,15.229,42.058,22.847,66.804,22.847c30.259,0,56.103-10.711,77.505-32.12c21.416-21.416,32.12-47.253,32.12-77.519C438.529,304.158,430.918,281.891,415.7,262.093z M325.472,304.49c-6.276,11.136-14.702,20.033-25.263,26.696c-10.567,6.663-22.224,11.748-34.975,15.273c-12.751,3.518-26.073,5.283-39.971,5.283c-32.163,0-59.855-6.235-83.078-18.705c-23.223-12.471-34.833-27.453-34.833-44.968c0-8.562,2.428-15.693,7.282-21.408c4.853-5.712,12.038-8.562,21.555-8.562c5.52,0,10.657,1.522,15.415,4.564c4.758,3.046,9.135,6.715,13.134,10.999c3.999,4.285,8.326,8.562,12.99,12.847c4.661,4.285,10.847,7.946,18.555,10.992c7.71,3.046,16.418,4.572,26.128,4.572c12.371,0,22.36-2.423,29.981-7.275c7.61-4.859,11.416-10.999,11.416-18.418c0-7.618-3.042-13.326-9.13-17.132c-4.182-2.673-14.846-6.098-31.977-10.283l-41.688-10.284c-11.419-2.662-21.222-5.752-29.408-9.271c-8.186-3.524-15.8-8.134-22.841-13.849c-7.039-5.708-12.369-12.891-15.986-21.555c-3.616-8.658-5.424-18.796-5.424-30.406c0-13.896,3.189-26.121,9.563-36.688c6.374-10.565,14.849-18.846,25.409-24.841c10.562-5.996,21.935-10.468,34.119-13.418c12.179-2.951,24.742-4.426,37.685-4.426c18.276,0,35.589,2.19,51.961,6.567c16.368,4.377,29.882,10.801,40.538,19.271c10.657,8.473,15.985,17.942,15.985,28.409c0,8.562-2.707,15.893-8.138,21.982c-5.414,6.088-12.601,9.134-21.55,9.134c-4.948,0-9.514-1.143-13.702-3.427c-4.186-2.283-7.99-5.042-11.423-8.278c-3.426-3.234-7.047-6.423-10.852-9.563c-3.806-3.14-8.946-5.852-15.41-8.136c-6.479-2.284-13.802-3.427-21.986-3.427c-27.406,0-41.112,7.323-41.112,21.982c0,3.234,0.715,6.09,2.141,8.564c1.427,2.474,3,4.473,4.71,5.996c1.709,1.525,4.565,3.046,8.564,4.57c3.999,1.525,7.33,2.622,9.994,3.284c2.663,0.666,6.854,1.665,12.562,2.996l29.694,6.851c9.325,2.096,17.648,4.286,24.981,6.567c7.331,2.288,15.181,5.521,23.555,9.71c8.374,4.187,15.321,8.848,20.838,13.988c5.523,5.144,10.137,11.656,13.853,19.555c3.714,7.901,5.564,16.61,5.564,26.124C334.896,280.84,331.761,293.357,325.472,304.49z"/></svg> himbalt.lv
													.copyright
														span @himbalt.lv  2017
													.developer
														a(href="#" terget="_blank" rel="nofollow") made in flex.media
													.company-based
														i.icon.icon-based
										script(type="text/javascript").
											$(goToAnchors);	
		- var active = "Logistics"
		include includes/_navigation
		include includes/_groups-modal
		include includes/_news-modal
		include includes/_form-modal